
body{
    background: purple;
    
}

.bigcontainer{
    background: white;

    padding: 15px;
    width: 350px;
  margin:50px auto ;
  border: none;
}
a{
    color: purple;
}
input{
    padding: 10px 60px;
  margin-top: 7px;
    font-size: 17px;

}
.fa-user{
    position: absolute;
    left: 520px;
    bottom: 460px;
    color: grey;
}
.fa-envelope{
   position: absolute;
    left: 520px;
    bottom: 409px;
    color: grey;
}
.fa-lock{
   position: absolute;
    left: 520px;
    bottom: 356px;
    color: grey;
}
.best{
    border: none;
    width:150px;
    gap: 4px;
    border-radius: 7px;
     background: purple;
     color: white;
}
.best2{
    border: none;
    width:150px;
    border-radius: 7px;
    background: purple;
    color: white;
}