
.content1{
     background: linear-gradient(45deg,rgba(128, 0, 128, 0.596),rgba(255, 0, 0, 0.788));
    width: 90px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
}
.header {
    width: 200px;
    height: 30px;
    color: white;
background: linear-gradient(45deg,rgba(128, 0, 128, 0.596),rgba(255, 0, 0, 0.788));
    text-align: center;
    border-radius: 3px;
}

.sidebar{
    width: 70px; ;
    height: 100px;
    background: linear-gradient(45deg,rgba(128, 0, 128, 0.596),rgba(255, 0, 0, 0.788));
     color: white;
     text-align: center;
}

.btn{
 background: linear-gradient(45deg,rgba(128, 0, 128, 0.596),rgba(255, 0, 0, 0.788));
    width: 70px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;

}
.ntb{
 background: linear-gradient(45deg,rgba(128, 0, 128, 0.596),rgba(255, 0, 0, 0.788));
    width: 70px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
}
.wrapper{
    display: flex;
}
.sideblock1{
    display: flex;
}