body{
text-align: center;
background-color:#a2d2ff ;
display: flex;
flex-direction: column;
align-items: center;
 font-family: "Happy Monkey", system-ui;
   color:#ffffff ;
}
#img-1{
    width: 90px;
    border-radius:17px ;
    border: 4px  solid #EFB0C9;
    margin-bottom: 30px;
}

h2{
  text-shadow:0px 0px 1px black ;
}

h3, p{
    background:#EFB0C9 ;
border-radius: 4px;
    padding: 7px 20px;
    font-size: 17px;
}
#img-2{
    width: 420px;
    height: 550px;
    background-image: url(./asset/wrapper1.jpg);
     background-repeat: no-repeat;
background-size: cover;
border: #ffffff 7px solid;
transition: 1s ease;
}
#img-2:hover{
    background-image: url("./asset/happy\ brithday.webp");
}


#img-3{
    width:510px;
    height: 550px;
    background-image: url(./asset/wrapper1.jpg);
     background-repeat: no-repeat;
background-size: cover;
border: #ffffff 7px solid;
transition: 1s ease;
}
#img-3:hover{
    background-image: url("./asset/birthday-wishes.gif");
}
#img-4{
    
    width:570px;
    height: 900px;
    background-image: url(./asset/wrapper1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     border: #ffffff 7px solid;
transition: 1s ease;

}
#img-4:hover{
    background-image: url("./asset/happycake.webp");
}


#img-7{
    
    width:570px;
    height: 880px;
    background-image: url(./asset/wrapper1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     border: #ffffff 7px solid;
transition: 1s ease;

}
#img-7:hover{
    background-image: url("./asset/happy-birthday-happy.gif");
}

.footer{
    background: none;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
}