button{
    width: 100px;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: 1px;
}
.wrapper{
border: 4px solid black;
height: 404px;
width: 298px;
padding: 20px;
cursor: pointer;
border-radius: 30px;
background-image: url(OIP.jpeg);
}