.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 624px;
    background: lightgrey;
    padding: 5px;
  margin: 50px auto;
}
.card{
    border:1px solid gray;
    width: 200px;

}
img{
    width: 100%;
    height: 150px;
}
p{
text-align: center;
}