body{
background: rgb(72, 72, 194);
}
.container{
    margin: 50px auto;
height: 230px;
background-color: aquamarine;
width: 230px;
padding: 10px 20px 10px 20px;
}
.btn{

margin-bottom: 4px;
color: white;
cursor: pointer;
background: green;

}
.OTP{
    display: flex;
    gap: 3px;
}
.ntb{
     height: 20px;
    width: 40px;
    background: red;
    border: none;
    display: flex;
    cursor: pointer;
}
.reset{
    
    height: 20px;
    width: 38px;
        color: black;
    border: none;
    background: green;
    cursor: pointer;
}
.best{
    font-size: 20px;
    color: rgb(40, 190, 40);
}