.mother{
    width: 500px;
    margin: 50px auto;
    display: flex;
}
.big-container{
    background: skyblue;
    padding: 15px;
    width: 250px;
}
input{
    /* padding: 10px 60px; */
    width: 100%;
    height: 30px;
    border: none;
    padding-left: 40px;
    box-sizing: border-box;
    position: relative;
    font-size: 17px;
    border-bottom: 2px solid gray;
}
label{
    font-size: 18px;
}
.fa-user{
    position: absolute;
    left: 20px;
    bottom: 70px;
    color: grey;
}
.fa-key{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: grey;
}
button{
    margin-top: 20px;
    width:100%;
    padding: 5px;
    border: none;
    background: green;
    color: white;
}
img{
    width: 230px;
}
