
.container{
    width: 400px;
    margin: 50px auto;
    display: flex;
    height: 400px;
}
.left{
    width: 200px;
    /* background: green; */
    background-image: url("./blue.webp");
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
}
.left h2{
    margin: 3px;
    font-size: 30px;
    font-weight: bold;
}
.fa-facebook-f{
    color: blue;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 20px;
}
.right{
    width: 200px;
    background: red;
    text-align: center;
    color: white;
}