body{
    background: whitesmoke;
}
.container{
    margin: 50px auto;
    width: 270px;
    height: 220px;
    background: white;
    box-shadow: 0px 9px 8px rgb(0, 0, 0,0.1);
    padding: 10px 20px 10px 20px;
}
.details{
    flex-direction: column;
gap: 4px;
}

.details >input{
    width: 200px;
        padding: 10px 30px;
        height: 10px;
}
.btn{
    background: blue;
color: rgb(0, 255, 0);
width: 230px;
cursor: pointer;
border: none;
}