
body{
    background: whitesmoke;
}

.btn{
    background-image: url("./asset/mobile1.webp");
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
   
}
.ntb{
    border: none;
    padding: 10px 10px;
   

}