body{
 background-color: whitesmoke;
}
.container{
    box-shadow: 0px 7px 8px;
    width: 400px;
    height: 260px;
    padding: 30px;
}
.log{
    background: rgb(177, 71, 177);
    color: white;
    height: 20px;
    width: 70px;
    border: 10px;
    cursor: pointer;
}
.btn{
color: purple;
    border: 10px purple;
    border: 10px;
    cursor: pointer;
}