.container{
   border:none;
   background: black;
   width: 180px;
   height: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 20px 10px 20px;
    gap: 1px;

}

.btn{
    color: white;
    border: none;
    background: orange;
    width: 27px;
    height: 19px;
    border-radius: 4px;
    
}
.numbers{
     color: white;
    border: none;
    background:gray;
    width: 30px;
    height: 19px;
    border-radius: 4px;
}