
.image{
box-shadow:10px 10px 10px ;
    width: 290px;
    height: 200px;
    gap: 20px;
    margin-bottom: 30px;
    display: flex;
}

.btn{
box-shadow:10px 10px 10px ;
    width: 240px;
    height: 200px;
    display: flex;
    gap: 7px;
    margin-bottom: 30px;
}
.ntb{
box-shadow:10px 10px 10px ;
    width: 230px;
    height: 190px;
    display: flex;
    gap: 7px;
    margin-bottom: 30px;
}
.details{
box-shadow:10px 10px 10px ;
    width: 230px;
    height: 170px;

    gap: 7px; 
    margin-bottom: 30px;
}
.mage{
box-shadow:10px 7px 8px ;
    width: 270px;
    height: 170px;

    gap: 7px;
    margin-bottom: 30px;
}
.tails{
box-shadow:10px 7px 8px ;
    width: 120px;
    height: 170px;

    gap: 19px;
    margin-bottom: 30px;
}
 
.wrap{
display: flex;
}
.rap{
    display: flex;
    gap: 4px;
}
.bel{
    margin-bottom: 40px;
    box-shadow:4px 7px 8px ;
    width:120px ;
    height:210 ;
}
