
body{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
nav{
display: flex;
justify-content: space-between;
padding: 0px 3rem;
height: 4rem;
background:skyblue;
text-decoration: none;
}
.menu{
display: flex;
gap: 4rem;
justify-content: center;
align-items: center;
list-style: none;
}
.menu a{
text-decoration: none;
font-size: 20px;
}
header{
    height: 100vh;
    background-image: url("./asset/torshov.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 3rem;
   background-color:teal;
   color: white;
   padding: 5px;
   border-radius: 10px;
   font-weight: bold;
   margin-bottom: 5px;
}
header p{
    margin-top: 5px;
    font-size: 1.3rem;
   background-color:rgb(38, 38, 73);
   color: white;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
   font-weight: 400;
}
section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  Beige;
}
.cards{
    display: flex;
    gap: 20px;
}
.cards img{
    width: 100px;
    height: 100px;
    border-radius: 70px;
}
.card{
    width: 250px;
}
.logo img{
    height:80px;
    width: 80px;
    border-radius:50%;
}
/* moblie responsiveness */
@media ( max-width: 768px){
  .cards {
   display:flex ;
   flex-direction: column;
   gap: 20px; 
}  
}
.plate{
    
    background-color: skyblue;
    width: 370px;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 30px 8px;
    height: 270px;
}
article{

margin-bottom: 40px;    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans{
display: flex;
gap: 50px;
justify-content: center;
}
.classplans{
   width: 200px;
   background: white;
    box-shadow: 0px 6px 7px;
    padding: 10px 17px;
    border-radius: 10px;
    text-align: center;
}
button{
    width:170px;
    height: 30px;
    color: white;
    background:blueviolet;
    cursor: pointer;
   
}
.choose{
    text-align: center;
}

footer{
    margin-top: 40px;
    display: flex;
    gap: 50px;
    background: skyblue;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
}
footer a{
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-decoration: none;
    color: black;
}
footer img{
    border-radius:50% ;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.copyright{
  text-align: center;
  background: blueviolet;
padding: 12px 10px ;
font-size: 20PX;
}
@media (max-width: 768px){
   .plate{
    background-color: skyblue;
    width: 300px;
    display: flex;
    gap: 8px;
    padding: 10px;
    margin: 30px 8px;
}
footer{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.plate img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
.surflogo img{
   width: 200px;
   height: 150px;
}
nav{

padding: 0px 0px;

}
.menu{
display: flex;
flex-direction: column;
gap: 10px;
background: pink;
margin-top: 30px;
height: 250px;
width: 400px;
padding: 10px 5px;
z-index: 10;
}
.classplans{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans{
 display: flex;
    flex-direction: column;
    align-items: center;
}
}