
img{
    width: 1320px;
    height: 410px;
}
.btn{
    border: green 13px solid;
    color: white;
    background: green;
    position: absolute;
    top: 140px;
    left: 570px;
}
.ntb{
    border: blue 4px solid;
    color: white;
    background: blue;
    position: absolute;
    top: 190px;
    left: 500px;
}
.top{
   padding: 20px 500px;
   margin-top: 70px;
}
.container2{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
.great{
    font-size: 17px;
    text-align: center;
}
#good{
    height: 80px;
    width:80px;
    border-radius: 70px;
    padding: 70px;
}
p{
    padding: 10px 10px;
}
.sad{
    font-size: 17px;
  text-align: center;
}
#bad{
     height: 80px;
    width:80px;
    border-radius: 70px;
    padding: 70px;
}
.mall{
    font-size: 17px;
   text-align: center;
}
#ball{
     height: 80px;
    width:80px;
    border-radius: 70px;
    padding: 70px;
}
.container{
margin: 50px auto;
background: purple;
width:700px;
height: 370px;
padding:10px 20px 10px 20px ;
display: flex;
}
/* Media queries for mobile screen */
@media (max-width:678px) {
    .container2{
    display:flex ;
   flex-direction: column;
   gap: 20px;
}
}