
.container{
    width: 300px;
    background: rgb(32, 31, 31);
    padding: 20px;
    border-radius:10px ;
    margin:50px auto ;
}
input{
    width: 100%;
    padding: 20px 0px;
    border-radius: 3px;
    border: none;
    background: rgb(56, 54, 54);
}

.control{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}
button{
padding: 15px;
border: none;
border-radius: 50%;
font-size: 18px;
}
.btn-color{
    background: orange;
    color: white;
    font-weight: bold;
}
.btn{
    background: rgb(90, 87, 87);
    color: white;
    font-weight: bold;
}