body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.box{
    background: red;
    width: 120px;
    height: 80px;
    border: none;
    border-radius: 10px;
}
.box:hover{
transform: rotate(360deg);


}