body{
    background-color: black;
  color: white;
}
.content1{
background-image: url(../images/best.jpeg);
width: 180px;
height: 240px;
background-position: center;    
background-size: cover;
border-color: white;
}
.content2{
background-image: url(../images/web.webp);
width: 180px;
height: 240px;
background-position: center;
background-size: cover;
border-color: white;
}
.content3{
background-image: url(../images/hello.jpg);
width: 200px;
height: 240px;
background-position: center;
background-size: cover;
border-color: white;
}
h1{
    padding-top: 170px;
    padding-left: 20px;
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    gap: 10px;
    color: white;
}