body{
    background-image: url("./space.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-size: 4rem;  
    font-weight: bold;
}
button{
    padding: 10px 50px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}