

.container{
width: 620px;
    background: rgb(140, 140, 219);
    margin: 50px auto;
    display: flex;
}

.left{
    text-align: center;
   width: 300px;
   border: none;
   background: blue;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lost{
    color: white;
}
.right{
    border: none;
    width: 300px;
    padding: 10px 20px 10px 20px;
    text-align: center;

}
.fa-facebook-f{
    color: blue;
    border: 2px solid blue;
    padding: 4px;
    border-radius: 20px;
}
input{
    padding: 10px 30px;
  margin-top: 7px;
    font-size: 17px;
    box-sizing: border-box;
}
.btn{
    margin-top:7px ;
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    background:blue;
}
